:root {
    --white: #fff;
    --grey: #999;
    --black: #000;
    --green: #00ff1d;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: monospace;
    font-size: 16px;
    line-height: 1.65;
    color: var(--black);
}

a {
    color: var(--black);
    text-decoration: none;
}

.container {
    width: 100%;
    position: relative;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}



.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 600px) {
    .col-sm-3 {
        flex: 0 0 24.5%;
        max-width: 24.5%;
    }

    .col-sm-6 {
        flex: 0 0 49.5%;
        max-width: 49.5%;
    }

    .col-sm-9 {
        flex: 0 0 74.5%;
        max-width: 74.5%;
    }
}

@media (min-width: 900px) {
    .col-md-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
}




/*---------- UTILITY CSS ----------*/
.justify-content-center {
    justify-content: center;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.position-relative {
    position: relative;
}

.d-none {
    display: none;
}


/* padding */
.pt-24 {
    padding-top: 24px;
}

.pb-24 {
    padding-bottom: 24px;
}

.pr-8 {
    padding-right: 8px;
}
.pr-24 {
    padding-right: 24px;
}
.pr-32 {
    padding-right: 32px;
}

.pl-8 {
    padding-left: 8px;
}

.pl-24 {
    padding-left: 24px;
}

/*---------- HEADER CSS ----------*/
.left-menu {
    flex: 0 0 24.5%;
    max-width: 24.5%;
}

.right-menu {
    flex: 0 0 74.5%;
    max-width: 74.5%;
}


.menu-no {
    font-size: 12px;
    color: var(--grey);
}

.avatar {
    position: relative;
    border-radius: 50%;
    width: 20px;
    top: 4px;
}

.mobile-menu {
    display: none;
}
.mobile-menu img {
    position: relative;
    top: 2px;
}

@media (max-width: 690px) {
    .left-menu {
        flex: 0 0 49.5%;
        max-width: 49.5%;
        text-align: left;
    }

    .right-menu {
        flex: 0 0 49.5%;
        max-width: 49.5%;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .left-menu .container {
        padding-left: 16px;
    }
}



/*---------- DEBUG CSS ----------*/
.bd {
    border: 1px solid gray;
}