* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: monospace;
}

.container {
    width: 100%;
    /* margin-right: auto;
    margin-left: auto; */
}

.row {
    display: flex;
    flex-wrap: wrap;
}



.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 600px) {
    .col-sm-6 {
        flex: 0 0 49%;
        max-width: 49%;
    }
}

@media (min-width: 900px) {
    .col-md-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
}


/* UTILITY CSS */
.justify-content-center {
    justify-content: center;
}



/* DEBUG CSS */
.bd {
    border: 1px solid gray;
}